.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchBox {
  /* margin: 0; */
  position: relative;
}

.searchButton {
  margin: 2px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;

  border: none;
  background: none;
}

.searchInput {
  /* margin: 0; */
  height: 30px;
  border-radius: 5px;
  padding: 2px 35px 2px 5px;
}
